body {
    font-family: "JetBrains Mono", "arial", "helvetica", serif;
    font-size: 14px;
    background-image: url("../images/romans.jpg");
    background-attachment: fixed;
}

#content {
    background-color: white;
    opacity: 0.9;
    margin: 5% 10%;
    padding: 2%;
}

h1 {
    font-size: 4em;
    font-style: normal;
    margin: 2%;
    padding: 1% 9%;
    color : gold;
}
strong {
    color: darkred;
    font-style: italic;
}

h5 {
    font-size: 1em;
    color: black;
}

p {
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: center;
}

a {
    color: darkred;
    text-decoration: none;
    font-size: 1.3em;
}

table {
        color : darkred;
        table-layout: auto;
        font-size: 1.4em;
}

td {
    padding: 1em;
}

tr {
    display: block;
}

label {
    color: black;
    font-size: 1.3em;
}

ul.ribbon {
    background-color: black;
    opacity: 0.8;
    padding: 1.6% 6%;
}

ul.ribbon li {
    display: inline;
    padding: 0 4%;
    text-transform: uppercase;
}

ul.ribbon li a {
    color: gold;
    font: normal 2em arial;
}

a.question-title:hover, ul.ribbon a:hover {
    color: red;
}

#question_listed {
    background-color: gold;
    margin: 1em;
    border-radius: 0.6em;
    border: 1px darkred solid;
}

b {
    color: green;
    background-color: aqua;
}

form.order_by {
    display: inline-block;
    font-size: 1.5em;
}

form.search {
    display: inline-block;
    float: right;
    font-size: 1.5em;
}

select, button, input {
    font-size: 1em;
}

td.question-statistics {
    list-style-type: none;
    text-align: center;
    padding: 0.5em;
}

td.question-statistics p {
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
}

p.show-big {
    font-size: 1.6em;
    padding-top: 0.5em;
    font-weight: bold;
}

table.question {
    width: 100%;
    position: relative;
}

td.question-content {
    width: 100%;
    position: relative;
    border-left: darkred 1px solid;

}

a.question-title{
    color: black;
    font-weight: bold;
    display: inline-block;
}

p.question-message {
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
}

table.tags {
    display: inline-block;
}

#question-submission-data-box {
    display: inline-block;
    float: right;
}

#question-submission-data {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

ul.tags li {
    display: inline;
    border: 1px solid darkred;
    border-radius: 5px;
    padding: 0.5em;
}

ul.tag-buttons li {
    display: inline;
}

ul.tag-buttons li a {
    color: black;
    font-size: 1.5em;
}

ul.tag-buttons li a:hover {
    color: red;
}