body {
    font-family: "JetBrains Mono", "arial", "helvetica", serif;
        font-size: 14px;
        font-style: italic;
    background-image: url("../images/romans.jpg");
    background-attachment: fixed;
}

#content {
    background-color: white;
    margin: 5% 10%;
    padding: 2%;
}

h1 {
    font-size: 4em;
    font-style: normal;
    margin: 2%;
    padding: 1% 9%;
    color : gold;
}
strong {
    color: darkred;
    font-style: italic;
}

h5 {
    font-size: 1em;
    margin: 1%;
    padding: 20%;
    color: black;
    display: inline-block;
}

p {
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: center;
}

a {
    color: darkred;
    text-decoration: none;
    font-size: 1.3em;
}

table {
        color : darkred;
        table-layout: auto;
        font-size: 1.4em;
}

label {
    color: black;
    font-size: 1.3em;
}

ul {
    background-color: black;
    padding: 1.6% 6%;
}

li {
    display: inline;
    padding: 0 4%;
    text-transform: uppercase;
}

li a {
    color: gold;
    font: normal 2em arial;
}

li a:hover {
    color: red;
}

#question_listed {
    background-color: gold;
    margin: 1em;
}

select, button {
    font-size: 1.2em;
}
input {
    font-size: 1.2em;
}

b {
    color: green;
    background-color: aqua;
}