body {
    font-family: "JetBrains Mono", "arial", "helvetica", serif;
    font-size: 14px;
    background-image: url("../images/romans.jpg");
    background-attachment: fixed;
}

#content {
    background-color: white;
    background-size: 100% 100%;
    opacity: 0.9;
    margin: 5% 10%;
    padding: 2%;
}

h3.search {
    display: inline-block;
}

#white_ground {
    background-color: white;
    opacity: 0.9;
}

#back_button{
    position: relative;
    float: right;
    display: inline-block;
}

#question_buttons {
    font-size : 20px
}

#button_line {
    line-height: 20px;
    border-top: #9C1A1C 1px solid;
}

#accept_buttons {
    text-align: center;
    font-size: 15px;
}

#question_back_button {
    postion: relative;
    display: inline;line-height: 20px;
}

table.search_back_line {
    line-height: 1em;
}

h1.label {
    font-size: 4em;
    font-style: normal;
    margin: 2%;
    padding: 1% 9%;
    color : gold;
    text-align: center;
}
strong.label {
    color: darkred;
    font-style: italic;
    text-align: center;
}

h5 {
    font-size: 1em;
    color: black;
}

p {
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: center;
}

a {
    color: darkred;
    text-decoration: none;
    font-size: 1.3em;
}

table {
        color : darkred;
        table-layout: auto;
        font-size: 1.4em;
}

td {
    padding: 1em;
}

tr {
    display: block;
}

label {
    color: black;
    font-size: 1.3em;
}

ul.ribbon {
    background-color: black;
    opacity: 0.8;
    padding: 1.6% 6%;
}

ul.ribbon li {
    display: inline;
    padding: 0 6.7%;
    text-transform: uppercase;
    color: gold;
    font-size: 20px;
    font-weight: bold;
}

ul.ribbon li a {
    color: gold;
    font: normal 1em arial;
    font-weight: bold;
}

a.question-title:hover, ul.ribbon a:hover {
    color: red;
}

#question_listed {
    background-color: gold;
    margin: 1em;
    border-radius: 0.6em;
    border: 1px darkred solid;
}

#answer_listed {
    background-color: gold;
    margin: 1em;
    border-radius: 0.6em;
    border: 1px darkred solid;
    border-collapse: collapse;
    width: 90%;
    margin-left: 85px;
}

#comment_listed {
    background-color: gold;
    margin: 1em;
    border-radius: 0.6em;
    border: 1px darkred solid;
    border-collapse: collapse;
    width: 80%;
    margin-left: 185px;
}

b {
    color: green;
    background-color: aqua;
}

form.order_by {
    display: inline-block;
    font-size: 1.5em;
}

form.search {
    display: inline-block;
    float: right;
    font-size: 1.5em;
}

select, button, input {
    font-size: 1em;
}

td.question-statistics {
    list-style-type: none;
    text-align: center;
    padding: 0.5em;
}

td.comment-statistics {
    text-align: left;
    list-style-type: none;
    padding: 0.5em;
}

td.question-statistics p {
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
}


p.show-big {
    font-size: 1.6em;
    padding-top: 0.5em;
    font-weight: bold;
}

table.question {
    width: 100%;
    position: relative;
}

table.comment {
    width: 100%;
    position: relative;
}

td.question-content {
    width: 100%;
    position: relative;
    border-left: darkred 1px solid;
}

td.comment-content {
    width: 100%;
    position: relative;
}

td.answer-content {
    width: 100%;
    position: relative;
}

a.question-title{
    color: black;
    font-weight: bold;
    display: inline-block;
    align-content: center;
    word-wrap: break-word;
}

p.question-message {
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
}

table.tags {
    display: inline-block;
}

#question-submission-data-box {
    display: inline-block;
    float: left;
}

#question-submission-data {
    position: relative;

}

ul.tags li {
    display: inline;
    border: 1px solid darkred;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 10px;
    float: left;
    align-items: start;
}

ul.tag-buttons li {
    display: inline;
}

ul.tag-buttons li a {
    color: black;
    font-size: 1em;
}

ul.tag-buttons li a:hover {
    color: red;
}

p.login {
    text-align: right;
    float: right;
    letter-spacing: 0em;
    font-weight: bold;
    margin: 1px 1px 1px 1px;
    word-spacing: 3px;
}

h2.login {
    align-items: start;
    float: left;
    margin: 130px 10px 1px 1px;
    background-color: gold;
}

p.user {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}

tr.question_line {
    border-bottom: #9C1A1C 1px solid;
}

tr.question_down_line {
    border-top: #9C1A1C 1px solid;
}

p.login {
    margin: 95px 1px 1px 1px
}