<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ comment_title }}</title>
</head>
<body>
    <h1>{{ comment_title }}</h1>
    <br>
    <form action="{{ form_url }}" method="post">
        <input type="hidden" name="id" value="{{ comment['id'] }}">
        <p>
            <label for="title">{{ comment_title }}</label><br>
            <input type="text" name="title" id="title" value="{{ comment['title'] }}">
        </p>
        <p>
            <label for="message">{{ comment_message }}</label><br>
            <textarea name="message" id="message" cols="40" rows="6" required>{{ comment['message'] }}</textarea>
        </p>
        <p>
            <label for="image"><img src="{{ comment['image'] }}" alt=""></label>
        </p>
        {{ if  }}
            <input type="hidden" name="view_number">
    </form>
</body>
</html>