{% extends 'layout.html' %}

{% block content %}
    <h1>{{ comment_name }}</h1>
    <br>
    <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id">
        <p>
            {% if type == 'question' %}
            <label for="title">{{ comment_title }}</label><br>
            <input type="text" name="title" id="title">
            {% endif %}
        </p>
        <p>
            <label for="message">{{ comment_message }}</label><br>
            <textarea name="message" id="message" cols="40" rows="6" required></textarea>
        </p>
        <p>
            <label for="image">Image:</label>
            <input type="file" name="image" accept=".png, .jpg">
        </p>
        {% if comment is not defined and type == "question" %}
            <input type="hidden" name="view_number" value=0>
            <input type="hidden" name="vote_number" value=0>
        {% elif comment is not defined and type == "answer" %}
            <input type="hidden" name="vote_number" value=0>
            <input type="hidden" name="question_id" value="{{ question_id }}">
        {% endif %}
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
{% endblock %}