{% extends 'layout.html' %}

{% block content %}
    <table>
        <tr>
            <td><h5>ID:</h5></td>
            <td  width="50">{{ question['id'] }}</td>
            <td><h5>Title:</h5></td>
            <td  width="300">{{ question['title'] | safe }}</td>
            <td><h5>Submission time:</h5></td>
            <td  width="150">{{ question['submission_time'] }}</td>
            <td><h5>View:</h5></td>
            <td  width="50">{{ question['view_number'] }}</td>
            <td><h5>Like:</h5></td>
            <td  width="50">{{ question['vote_number'] }}</td>
            <td width="30"><h5>Vote:</h5></td>
            <td width="20"><a href="{{ url_for('question_vote_up', question_id=question['id']) }}">+</a></td>
            <td width="20"><a href="{{ url_for('question_vote_down', question_id=question['id']) }}">-</a></td>
            <td width="30"><a href="{{ url_for('add_new_comment_to_question',question_id=question['id'])}}">comment</a></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><h5>Message:</h5></td>
            <td width="1000" colspan="11">{{ question['message'] | safe }}</td>
            {% if question['image'] is not none %}
                <td><a href="{{ url_for('full_screen', question_id=question['id'], image=question['image'][14:]) }}"><img src="/{{ question['image'] }}" alt="" height="300" width="260"></a></td>
            {% endif %}
        </tr>
    </table>
    <table>
        <tr>
            <td width="300"><a href="{{ url_for('route_new_answer', question_id=question['id']) }}">Add new answer</a></td>
            <td width="200"><a href="{{ url_for('delete_question', question_id=question['id']) }}" onclick="return confirm('Are you sure you want to delete the question?');">Delete</a></td>
            <td><a href="{{ url_for('edit_question', question_id=question['id']) }}">Edit question</a></td>
        </tr>
    </table>
    <table>
            <tr>
                <td width="100"><h5>Tags:</h5></td>
                {% for tag in tags %}
                    {% if tag['question_id'] == question['id'] %}
                        <td><h6><a href="{{ url_for('search_with_tag', tag_id=tag['id']) }}"><ins>{{ tag['name'] }}</ins></a>
                            <sup><a href="{{ url_for('delete_tag', question_id=question['id'], tag_id=tag['id']) }}" onclick="return confirm('Are you sure you want to delete the tag?');">x</a></sup></h6></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td><a href="{{ url_for('add_tag', question_id=question['id']) }}"><h6>Add new tag</h6></a></td>
            </tr>
    </table>
    <br>
    {% for q_comment in question_comment %}
        <table>
            <tr>
                <td width="150"></td>
                <td width="300">{{ q_comment['submission_time'] }}</td>
                <td width="300">Time's edited: {{ q_comment['edited_count'] }}</td>
                <td width="100" i><a href="{{ url_for('edit_comment', comment_id=q_comment['id']) }}">Edit</a></td>
                <td width="50"><a href="{{ url_for('delete_comment', comment_id=q_comment['id']) }}" onclick="return confirm('Are you sure you want to delete the comment?');">Delete</a></td>
            </tr>
            <tr>
                <td width="150"></td>
                <td colspan="5">{{ q_comment['message'] }}</td>
            </tr>
        </table>
    {% endfor %}
    <form class="order_by" method="get">
            <label for="order_by">Order answers by</label>
            <select name="order_by" id="order_by">
                {% for option, option_text in {'submission_time': 'submission time', 'message': 'message', 'vote_number': 'number of votes'}.items() %}
                    <option name="{{ option }}" value="{{ option }}" {{ 'selected' if option == order_by }}>{{ option_text }}</option>
                {% endfor %}
            </select>
                <label for="order_direction"></label><select name="order_direction" id="order_direction">
                <option name="asc" value="asc" {{ 'selected' if order_direction == 'asc' }}>ascending</option>
                <option name="desc" value="desc" {{ 'selected' if order_direction == 'desc' }}>descending</option>
            </select>
            <button type="submit">SORT</button>
    </form>
    {% for comment in answer %}
        <table>
            <tr>
                <td width="100"></td>
                <td  width="50">ID: {{ comment['id'] }}</td>
                <td><h5>Submission time:</h5></td>
                <td  width="150">{{ comment['submission_time'] }}</td>
                <td><h5>Like:</h5></td>
                <td  width="50">{{ comment['vote_number'] }}</td>
                <td width="30"><h5>Vote:</h5></td>
                <td width="20"><a href="{{ url_for('answer_vote_up', answer_id=comment['id']) }}">+</a></td>
                <td width="20"><a href="{{ url_for('answer_vote_down', answer_id=comment['id']) }}">-</a></td>
                <td width="120"><a href="{{ url_for('delete_answer', answer_id=comment['id']) }}" onclick="return confirm('Are you sure you want to delete the answer?');">Delete</a></td>
                <td><a href="{{ url_for('edit_answer', answer_id=comment['id']) }}">Edit answer</a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td width="100"></td>
                <td><h5>Message:</h5></td>
                <td width="900" colspan="11">{{ comment['message'] | safe }}</td>
                {% if comment['image'] is not none %}
                    <td><a href="{{ url_for('full_screen', question_id=question['id'], image=comment['image'][14:]) }}"><img src="/{{ comment['image'] }}" alt="" height="300" width="260"></a></td>
                {% endif %}
                <td width="30"><a href="{{ url_for('add_new_comment_to_answer',answer_id=comment['id'])}}">comment</a></td>
            </tr>
        </table>
        {% for a_comment in answer_comment %}
            {% if a_comment['answer_id'] == comment['id'] %}
                <table>
                    <tr>
                        <td width="150"></td>
                        <td width="300">{{ a_comment['submission_time'] }}</td>
                        <td width="300">Time's edited: {{ a_comment['edited_count'] }}</td>
                        <td width="100"><a href="{{ url_for('edit_comment', comment_id=a_comment['id']) }}">Edit</a></td>
                        <td width="50"><a href="{{ url_for('delete_comment', comment_id=a_comment['id']) }}" onclick="return confirm('Are you sure you want to delete the comment?');">Delete</a></td>
                    </tr>
                    <tr>
                        <td width="150"></td>
                        <td colspan="5">{{ a_comment['message'] }}</td>
                    </tr>
                </table>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <p>
        <a href="{{ url_for('route_lists', question_id=question_id) }}">Back</a>
    </p>
{% endblock %}