{% extends 'layout.html' %}

{% block content %}
    {% if type=="comment"%}
        <h1>Edit comment</h1>
        <p>Comment id: {{ comment['id'] }}</p>
        <form action="{{ form_url }}" method="post">
            <p>
                <label for="message">Message:</label><br>
                <textarea name="message" id="message" cols="80" rows="10" required>{{ comment['message'] }}</textarea>
            </p>
            <button type="submit" value="Edit comment">Edit comment</button>
        </form>
    {%else%}
        <h1>Edit answer</h1>
        <p>Answer id: {{ answer['id'] }}</p>
        <form action="{{ form_url }}" method="post">
            <p>
                <label for="message">Message:</label><br>
                <textarea name="message" id="message" cols="80" rows="10" required>{{ answer['message'] }}</textarea>
            </p>
            <button type="submit" value="Edit answer">Edit answer</button>
        </form>
    {%endif%}
{% endblock %}