{% extends 'layout.html' %}

{% block content %}
    {% for user_from_users in users %}
        <table>
            <tr>
                {% if user != None %}
                <td><a href="{{ url_for('user_page', user_name = user_from_users['user_name']) }}">{{ user_from_users['user_name'] }}</a></td>
                {% else %}
                <td>{{ user_from_users['user_name'] }}</td>
                {% endif %}
                <td>Reputation: {{ user_from_users['reputation'] }}</td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}