{% extends 'layout.html' %}

{% block content %}
    <form class="order_by" method="get">
        <label for="order_by">Order by</label>
        <select name="order_by" id="order_by">
            {% for option, option_text in {'title': 'title', 'submission_time': 'submission time', 'message': 'message', 'view_number': 'number of views', 'vote_number': 'number of votes'}.items() %}
                <option name="{{ option }}" value="{{ option }}" {{ 'selected' if option == order_by }}>{{ option_text }}</option>
            {% endfor %}
        </select>
            <label for="order_direction"></label><select name="order_direction" id="order_direction">
            <option name="asc" value="asc" {{ 'selected' if order_direction == 'asc' }}>ascending</option>
            <option name="desc" value="desc" {{ 'selected' if order_direction == 'desc' }}>descending</option>
        </select>
        <button type="submit">SORT</button>
    </form>
    <form class="search" action="{{ url_for('route_search') }}" method="get">
        <input type="search" placeholder="Search" name="search" id="search">
        <button type="submit">Search</button>
    </form>
{% for quest in question %}
    <div id="question_listed">
    <table class="question">
    <tr>
        <td class="question-statistics">
            <p>ID: {{ quest['id'] }}</p>
            <p class="show-big">{{ quest['vote_number'] }}</p>
            <p>votes</p>
            <p class="show-big" >{{ quest['view_number'] }}</p>
            <p>views</p>
        </td>
        <td class="question-content">
            <a class="question-title" href="{{ url_for('view_up', question_id=quest['id']) }}">{{ quest['title'] | safe }}</a>
            <p class="question-message">{{ quest['message'] }}</p>
            <ul class="tags">
                {% for tag in tags %}
                    {% if tag['question_id'] == quest['id'] %}
                        <li><a href="{{ url_for('search_with_tag', tag_id=tag['id']) }}"><ins>{{ tag['name'] }}</ins></a>
                            <sup><a href="{{ url_for('delete_tag', question_id=quest['id'], tag_id=tag['id']) }}" onclick="return confirm('Are you sure you want to delete the tag?');">x</a></sup></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="tag-buttons">
                <li><a href="{{ url_for('add_tag', question_id=quest['id']) }}"><h6>Add new tag</h6></a></li>
            </ul>
            <div id="question-submission-data-box">
                <div id="question-submission-data">Submission time: {{ quest['submission_time'] }}</div>
            </div>
        </td>
        <td class="question-image">
            <div id="question-list-image">
                {% if quest['image'] is not none %}
                    <img src="{{ quest['image'] }}" alt="image" height="300" width="260">
                {% endif %}
            </div>
        </td>
    </tr>
    </table>

    </div>
    {% endfor %}
{% endblock %}