<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask mate forum</title>
</head>
<body>
    <h1>Ask Mate</h1>
    <br>
    <a href="{{ url_for('add_question') }}">Add new question</a>
    <br>
    <table>
            <tr>
                <th>ID</th>
                <th>Submission time</th>
                <th>View number</th>
                <th>Vote number</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
    {% for question in all_questions[-1:0:-1] %}
            <tr>
                <td width="10"><a href="{{ url_for('show_question', question_id=question['id']) }}">{{ question['id'] }}</a></td>
                <td width="100">{{ question['submission_time'] }}</td>
                <td width="50">{{ question['view_number'] }}</td>
                <td width="50">{{ question['vote_number'] }}</td>
                <td width="200">{{ question['title'] | safe }}</td>
                <td width="800">{{ question['message'] | safe }}</td>
                <td><img src="{{ question['image'] }}" alt="" height="100" width="100"></td>
            </tr>
    {% endfor %}
    </table>
</body>
</html>