{% extends 'layout.html' %}

{% block content %}
    <h1>{{ comment_name }}</h1>
    <br>
    {% if type == 'answer' %}
        <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="answer_id" value="{{ answer_id }}">
            <input type="hidden" name="question_id" value="{{ question_id }}">
            <input type="hidden" name="edited_count" value=0>
            <p>
                <label for="message">{{ comment_message }}</label><br>
                <textarea name="message" id="message" cols="40" rows="6" required></textarea>
            </p>
                <button type="submit">Send</button>
            </p>
        </form>
    {% else %}
        <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="question_id" value="{{ question_id }}">
            <input type="hidden" name="edited_count" value=0>
            <p>
                <label for="message">{{ comment_message }}</label><br>
                <textarea name="message" id="message" cols="40" rows="6" required></textarea>
            </p>
                <button type="submit">Send</button>
            </p>
        </form>
    {% endif %}
{% endblock %}