{% extends 'layout.html' %}

{% block content %}
    {% if type == 'registration' %}
    <h1 id="title">User Registration</h1>
    <form action="{{ url_for ('registration')}}" method="post">
        <input type="text" name="username" maxlength="15" placeholder="username"><br>
        <input type="password" name="password" maxlength="20" placeholder="password"><br>
        <input type="submit" value="Submit">
    </form>
    {% else %}
        <p  id="message" hidden></p>
        <h2>Please enter your login information!</h2>
        <form action="{{ url_for('login') }}" method="post">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit">Login</button>
        </form>
        {% if message %}
            <script>function message_window() {
            alert("Wrong user name, or password. Try again.");
            }
            document.getElementById("message").innerHTML = message_window();
            </script>
        {% endif %}
    {% endif %}
{% endblock %}