{% extends 'layout.html' %}

{% block content %}
    {% if type == 'search' %}
        <h3>Search with: {{ search_word }}</h3>
    {% else %}
        <h3>Search with: {{ tag['name'] }} tag</h3>
    {% endif %}
    {% for quest in question %}
        <div id="question_listed">
        <table class="question">
        <tr class="question_line">
            <td class="question-statistics">
                <p class="user"><a href="{{ url_for('user_page', user_name=quest['username']) }}">{{ quest['username'] }}</a></p>
            </td>
            <td>
                <a class="question-title" href="{{ url_for('view_up', question_id=quest['id']) }}">{{ quest['title'] | safe }}</a>
            </td>
        </tr>
        <tr>
            <td class="question-statistics">
                <p>votes:</p>
                <p class="show-big">{{ quest['vote_number'] }}</p>
                <p>views:</p>
                <p class="show-big" >{{ quest['view_number'] }}</p>
            </td>
            <td class="question-content">
                <p class="question-message">{{ quest['message'] }}</p>
                <ul class="tags">
                    {% for tag in tags %}
                        {% if tag['question_id'] == quest['id'] %}
                            <li><a href="{{ url_for('search_with_tag', tag_id=tag['id']) }}"><ins>{{ tag['name'] }}</ins></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td class="question-image">
                <div id="question-list-image">
                    {% if quest['image'] is not none %}
                        <img src="{{ quest['image'] }}" alt="image" height="300" width="260">
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr class="question_down_line">
            <td>
                <div id="question-submission-data-box">
                    <div id="question-submission-data">{{ quest['submission_time'] }}</div>
                </div>
            </td>
        </tr>
        </table>
        </div>
        {% if type == 'search' %}
            {% for comment in answer %}
                {% if quest['id'] == comment['question_id'] %}
                    <table>
                        <tr>
                            <td width="100"></td>
                            <td  width="50">ID: {{ comment['id'] }}</td>
                            <td><h5>Submission time:</h5></td>
                            <td  width="150">{{ comment['submission_time'] }}</td>
                            <td><h5>Like:</h5></td>
                            <td  width="50">{{ comment['vote_number'] }}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td width="100"></td>
                            <td><h5>Message:</h5></td>
                            <td width="900">{{ comment['message'] | safe }}</td>
                            {% if comment['image'] is not none %}
                                <td><img src="{{ comment['image'] }}" alt="" height="300" width="260"></td>
                            {% endif %}
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
     <p>
            <a href="{{ url_for('route_lists') }}">Back</a>
     </p>
{% endblock %}