{% extends 'layout.html' %}

{% block content %}
    <h2>{{ data['user_name'] }}</h2>
    {% for question in data['question'] %}
        <div id="question_listed">
        <table class="question">
        <tr>
            <td class="question-statistics" width="15%">
                <p class="user"><a href="{{ url_for('user_page', user_name=question['username']) }}">{{ question['username'] }}</a></p>
                <p class="reputation">({{ question['reputation'] }} point)</p>
            </td>
            <td width="80%">
                <a class="question-title" href="{{ url_for('view_up', question_id=question['id']) }}">{{ question['title'] | safe }}</a>
            </td>
            {% if user !=None and user != question['username'] %}
                <td class="like_button"><a href="{{ url_for('question_vote_up', question_id=question['id']) }}">
                    <img src="/static/images/like3.png" height="30" width="30"></a></td>
                <td class="like_button"><a href="{{ url_for('question_vote_down', question_id=question['id']) }}">
                    <img src="/static/images/dislike3.png" height="30" width="30"></a></td>
            {% endif %}
        </tr>
        <tr class="question_line">
            <td class="question-statistics">
                <p>votes:</p>
                <p class="show-big">{{ question['vote_number'] }}</p>
                <p>views:</p>
                <p class="show-big" >{{ question['view_number'] }}</p>
            </td>
            <td class="question-content">
                <p class="question-message">{{ question['message'] }}</p>
                <ul class="tags">
                    {% for tag in data['tag'] %}
                        {% if tag['question_id'] == question['id'] %}
                            <li><a href="{{ url_for('search_with_tag', tag_id=tag['id']) }}"><ins>{{ tag['name'] }}</ins></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td class="question-image">
                <div id="question-list-image">
                    {% if question['image'] is not none %}
                        <img src="{{ question['image'] }}" alt="image" height="300" width="260">
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr class="question_down_line">
            <td>
                <div id="question-submission-data-box">
                    <div id="question-submission-data">{{ question['submission_time'] }}</div>
                </div>
            </td>
        </tr>
        <tr id="button_line">
            {% if user!=None %}
                {% if question['username'] == user %}
                    <td width="20%"><a href="{{ url_for('add_tag', question_id=question['id']) }}" id="question_buttons"><button>New tag</button></a></td>
                    <td width="20%"><a href="{{ url_for('edit_question', question_id=question['id']) }}" id="question_buttons"><button>Edit</button></a></td>
                    <td width="20%"><a href="{{ url_for('delete_question', question_id=question['id']) }}" onclick="return confirm('Are you sure you want to delete the question?');" id="question_buttons">
                        <button>Delete</button></a></td>
                {% endif %}
                <td width="25%"><a href="{{ url_for('route_new_answer', question_id=question['id']) }}" id="question_buttons"><button>New answer</button></a></td>
                <td width="20%"><a href="{{ url_for('add_new_comment_to_question',question_id=question['id'])}}" id="question_buttons"><button>Comment</button></a></td>
            {% endif %}
        </tr>
        </table>
        </div>
            {% for comment in data['comment'] %}
                {% if question['id'] == comment['question_id'] and comment['answer_id'] == None %}
                    <div id="comment_listed">
                    <table class="comment">
                    <tr>
                        <td class="comment-statistics">
                            <p class="comment_user"><a href="{{ url_for('user_page', user_name=comment['username']) }}">{{ comment['username'] }}</a></p>
                        </td>
                        <td class="comment-statistics">
                            <p class="reputation">({{ comment['reputation'] }} point)</p>
                        </td>
                    </tr>
                    <tr class="question_line">
                        <td class="comment-content">
                            <p class="question-message">{{ comment['message'] | safe }}</p>
                        </td>
                    </tr>
                    <tr class="question_down_line">
                        <td>
                            <div id="question-submission-data-box">
                                <div id="question-submission-data">{{ comment['submission_time'] }}</div>
                            </div>
                        </td>
                         {% if user!=None and comment['username'] == user %}
                        <td width="5%"><a href="{{ url_for('edit_comment', comment_id=comment['id']) }}" id="question_buttons"><button>Edit</button></a></td>
                        <td><a href="{{ url_for('delete_comment', comment_id=comment['id']) }}" onclick="return confirm('Are you sure you want to delete the comment?');" id="question_buttons">
                            <button>Delete</button></a></td>
                        {% endif %}
                    </tr>
                    </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% for answer in data['answer'] %}
            {% if question['id'] == answer['question_id'] %}
            <div id="answer_listed">
            <table class="question">
            <tr>
                <td class="question-statistics" width="100">
                    <p class="user"><a href="{{ url_for('user_page', user_name=answer['username']) }}">{{ answer['username'] }}</a></p>
                    <p class="reputation">({{ answer['reputation'] }} point)</p>
                </td>
                <td width="800"></td>
                {% if user !=None and user != answer['username'] %}
                    <td class="like_button" width="150"><a href="{{ url_for('answer_vote_up', answer_id=answer['id']) }}">
                        <img src="/static/images/like3.png" height="30" width="30"></a></td>
                    <td class="like_button"><a href="{{ url_for('answer_vote_down', answer_id=answer['id']) }}">
                        <img src="/static/images/dislike3.png" height="30" width="30"></a></td>
                {% endif %}
            </tr>
            <tr class="question_line">
                <td class="question-statistics">
                    <p>votes:</p>
                    <p class="show-big">{{ answer['vote_number'] }}</p>
                </td>
                <td class="question-content">
                    <p class="question-message">{{ answer['message'] | safe }}</p>
                </td>
                <td class="question-image">
                    <div id="question-list-image">
                        {% if answer['image'] is not none %}
                            <img src="{{ answer['image'] }}" alt="image" height="300" width="260">
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr class="question_down_line">
                <td>
                    <div id="question-submission-data-box">
                        <div id="question-submission-data">{{ answer['submission_time'] }}</div>
                    </div>
                </td>
            </tr>
                <tr id="button_line">
                {% if user!=None %}
                    <td width="50%"><a href="{{ url_for('add_new_comment_to_answer',answer_id=answer['id'])}}" id="question_buttons"><button>comment</button></a></td>
                    {% if answer['username']== user %}
                        <td width="50%"><a href="{{ url_for('edit_answer', answer_id=answer['id']) }}" id="question_buttons"><button>Edit</button></a></td>
                        <td width="50%"><a href="{{ url_for('delete_answer', answer_id=answer['id']) }}" onclick="return confirm('Are you sure you want to delete the answer?');" id="question_buttons">
                        <button>Delete</button></a></td>
                    {% endif %}
                {% endif %}
            </tr>
            </table>
            </div>
                {% for comment in data['comment'] %}
                    {% if answer['id'] == comment['answer_id'] %}
                    <div id="comment_listed">
                    <table class="comment">
                    <tr>
                        <td class="comment-statistics">
                            <p class="comment_user"><a href="{{ url_for('user_page', user_name=comment['username']) }}">{{ comment['username'] }}</a></p>
                        </td>
                        <td class="comment-statistics">
                            <p class="reputation">({{ comment['reputation'] }} point)</p>
                        </td>
                    </tr>
                    <tr class="question_line">
                        <td class="comment-content">
                            <p class="question-message">{{ comment['message'] | safe }}</p>
                        </td>
                    </tr>
                    <tr class="question_down_line">
                        <td>
                            <div id="question-submission-data-box">
                                <div id="question-submission-data">{{ comment['submission_time'] }}</div>
                            </div>
                        </td>
                         {% if user!=None and comment['username'] == user %}
                        <td width="5%"><a href="{{ url_for('edit_comment', comment_id=comment['id']) }}" id="question_buttons"><button>Edit</button></a></td>
                        <td><a href="{{ url_for('delete_comment', comment_id=comment['id']) }}" onclick="return confirm('Are you sure you want to delete the comment?');" id="question_buttons">
                            <button>Delete</button></a></td>
                        {% endif %}
                    </tr>
                    </table>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}